/*DESIGN GENERAL ADMIN*/
input, select, textarea, button {
    font-family: inherit;
    border: 1px solid #c8c8c8;
}

.logo {
    color:#fff;
    padding: 1rem;
}

.admin-layout {
    display: flex;
    height: 100vh; 
}

.sidebar-layout {
    display: flex;
    width: 20%;
    height: 100vh;
    background-color:#1E293B;
    flex-direction: column;  /*elementele stau unul sub celalalt */
}

.sidebar-list {
    color: #fff;
    display: flex;
    border-top: 1px solid #334057;
    border-bottom: 1px solid #334057;
    flex-direction: column; 
}

.sidebar-list li a {
    text-decoration: none; /*sa nu aiba linkurile underline*/
    display: block;
    padding: 0.75rem 1.5rem; 
    color: #ffffff;
}

.sidebar-list li a:hover{ /*+ avem */
    background-color: #263245;
    color: #fff;
}

.sidebar-list li a {
    border-left: 3px solid #BC2F2F;
    color: #fff;
}

.sidebar-list li a:hover {
    border-left: 3px solid #ec4a4a;
}

.sidebar-footer {
    margin-top: auto; 
    padding: 1.5rem;
    border-top: 1px solid #2d394d;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 6px;
    color: white;
    z-index: 1000;
}
.toast-success { background: #1e773f; }
.toast-error { background: #da1d1d; }

.btn-logout {
    color:#1E293B;
    width: 100%;
    font-size: 1rm;
    padding: 0.6rem 1rem;
    border: 1px solid #334155;
    border-radius: 8px;
}

.admin-content {
    flex-grow: 1;
    background-color: #efeeee;
    padding: 2rem;
    overflow-y: auto;
     /*daca avem mult continut, sa apara automat un scroll bar in zona continutului*/
}

/*  design de la pagina primcipala*/
.greet-user {
     margin: 1%;
}

.greet-user p.current-date {
    color: #8E8E93;
}

.status-cards {
    display: flex;
}

.status-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin : 1%;
    border-radius: 8px;
    background-color: #fff;
}

.status-number{
    font-size:1.5rem ;
    font-weight: 600;
}

.status-label{
     font-weight: 100;
}

.alert-banner {
     border-radius: 8px;
     background-color: #BC2F2F;
     color: #fff;
     padding: 1%;
     margin: 1%;
}

.info{
    margin: 1%;
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
}

.btn-link {
    text-decoration: none;
    color: #3107bc;
}
